<br>
<label for="subscription_price">Price</label>
<input type="text" id="subscription_price" name="subscription[price]">
<br>
<label for="subscription_type_daily">Daily</label>
<input type="checkbox" 
		id="subscription_type_daily" 
		name="subscription[subscription_type]" 
		value="1">
		
<label for="subscription_type_w">Weekly</label>
<input type="checkbox" 
		id="subscription_type_w" 
		name="subscription[subscription_type]" 
		value="0">
<br>