<br>
<label for="newspaper_subscription_attributes_price">Price</label>
<input type="text" 
		id="newspaper_subscription_attributes_price" 
		name="newspaper[subscription_plans_attributes]["0"][price]">
<br>
<label for="newspaper_subscription_attributes_type_daily">Daily</label>
<input type="checkbox" 
		id="newspaper_subscription_attributes_type_daily" 
		name="newspaper[subscription_plans_attributes]["0"][subscription_type]" 
		value="1">
		
<label for="newspaper_subscription_attributes_type_w">Weekly</label>
<input type="checkbox" 
		id="newspaper_subscription_attributes_type_w" 
		name="newspaper[subscription_plans_attributes]["0"][subscription_type]" 
		value="0">
<br>